  <div id="user-widget">
    <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
    <div id="login">
      <%= link_to "/auth/facebook", id: "sign_in" do %>
        <i class="fa fa-facebook-square fa-2x"></i>
      <% end %>
    </div>
    <% end %>
  </div>