<div id="header">

  <a href="#" class="home_link"><h1 id="headline">Wynstagram</h1><i class="fa fa-paint-brush fa-3x"></i></a>
</div>


<br>
<br>
<br>
<br>
<br>

<div class="text-center new_box">

  <h1>Editing picture</h1>



  <%= render 'form' %>

  <%= link_to 'Show', @picture %> |
  <%= link_to 'Back', pictures_path %>

</div>