<div id="header">

  <a href="https://quiet-temple-2033.herokuapp.com/" class="home_link"><h1 id="headline">Wynstagram</h1><i class="fa fa-paint-brush fa-3x"></i></a>
</div>


<br>
<br>
<br>
<br>
<br>

<div class="text-center new_box">

  <h1>New picture</h1>

  <%= render 'form' %>

<br>
  <%= link_to '', pictures_path, class:"fa fa-caret-square-o-left fa-2x" %>
</div>